[submodule "hc-bdwebdiy-admin"]
	path = hc-bdwebdiy-admin
	url = https://github.com/haochtech/hc-bdwebdiy-admin.git
[submodule "hc-bdwebdiy-wx"]
	path = hc-bdwebdiy-wx
	url = https://github.com/haochtech/hc-bdwebdiy-wx.git
